<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{app.site_name}}</title>

	<link rel="stylesheet" href="{{baseUrl()}}/css/mobile.css">
	<link rel="stylesheet" href="{{baseUrl()}}/css/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{baseUrl()}}/mbxslider/jquery.bxslider.css">
</head>
<body>
	<section class="mobile-wrapper">

		<!-- header menu -->
		<nav class="m-menu">
			<div class="menu-img">
				<img src="{{baseUrl()}}/image/mobile/menu.png" class="menu-open">
				<img src="{{baseUrl()}}/image/mobile/close.png" class="menu-close m-hidden">
			</div>
			<ul class="m-nav m-hidden">
				<li class="m-li active-li"><a href="#m-portfolio">Портфолио</a></li>
				<li class="m-li"><a href="#m-about">О Нас</a></li>
				<li class="m-li"><a href="#m-services">Услуги</a></li>
				<li class="m-li"><a href="#m-contacts">Контакты</a></li>
			</ul>
		</nav>
		<!-- end header menu - - - - - - - -->

		<!-- header-logo -->
		<div class="m-header">
			<div class="m-logo"></div>
		</div>
		<!-- end header-logo -->

		<!-- portfolio -->
		<div class="m-portfolio" id="m-portfolio">
			<!-- portfolio-wrapper -->
			<div class="m-portfolio-wrapper">
				{% for portfolio in portfolio_list %}
				<!-- portfolio-block -->
				<a href="javascript:void(0)" id="openMobileModal-{{loop.index}}">
					<div class="m-portfolio-block">
						<div class="m-left-block">
							<img src="{{portfolio.images.0}}" alt="project">
						</div>
						<div class="m-right-block">
							<div class="m-name-wr">
								<p class="m-project-name">{{portfolio.name}}</p>
							</div>
							<p class="post">Дизайнер</p>
							<p class="m-project-head">{{portfolio.director}}</p>
						</div>
					</div>
				</a>
				{% include "@mobile/modal.project.html.twig" %}
				<!-- portfolio-block -->
				{% endfor %}
			</div>
			<!-- end portfolio-wrapper -->

			<!-- resizer -->
			{% include "@mobile/modal.portfolio.html.twig" %}
			<!-- end resizer -->

		</div>
		<!-- end portfolio -->

		<!-- about wrapper -->
		<div class="m-about-wr" id="m-about">

			<!-- company-text -->
			<div class="m-company-text-wr">
				<p>FORMA Interior Workshop</p>
				<p class="m-company-text">{{about_us|raw}}</p> <!-- цей текст буде мінятись (верхній - нє) -->
			</div>
			<!-- end company-text -->

			<!-- about workers -->
			{% for employer in employers_list %}
			<div class="m-box-wr">
				<div class="m-photo-wr">
					<div class="m-worker-photo">
						<img src="{{baseUrl()}}{{employer.photo}}" alt="worker">
					</div>
				</div>
				<div class="m-box-info">
					<span>{{employer.position}}</span>
					<p class="m-worker-name m-uppercase">{{employer.name}}</p>
					<p class="m-worker-about">{{employer.about}}</p>
				</div>
			</div>
			{% endfor %}
			<!-- end about workers -->
		</div>
		<!-- about wrapper -->

		<!-- services-wrapper -->
		<div class="m-services-wr" id="m-services">
			{% for service in services %}
			<!-- services-block -->
				<div class="m-box-wr" id="openServicesModal-{{loop.index}}">
					<div class="m-photo-wr">
						<div class="m-services-icon">
							<img src="image/mobile/icon/{{service.slug}}.svg">
						</div>
					</div>
					<div class="m-box-info">
						<div class="m-services-info">
							<p class="m-services-name">{{service.name}}</p>
							<p class="m-services-price">{{service.price}} грн</p>

							<div class="etc">
								<a href="javascript:void(0)" title="Подробнее">...</a>
							</div>
						</div>
					</div>
				</div>
			<!-- end services-block -->
			{% include "@mobile/modal.services.html.twig" %}
			{% endfor %}
		</div>
		<!-- end services-wrapper -->

		<!-- contacts-wrapper -->
		<div class="m-contacts-wr" id="m-contacts">
			{% if contacts.phones %}
			<!-- phone-box-wr -->
			<div class="m-box-wr">
				<div class="m-photo-wr cont-ph-wr">
					<a href="tel:{{contacts.phones.0}}">
						<div class="m-contacts-icon">
							<img src="{{baseUrl()}}/image/mobile/icon/phone.svg">
						</div>
					</a>
				</div>
				<div class="m-box-info">
					<div class="m-box-inner">
						<div class="center-div">
							{% for phone in contacts.phones %}
							<p><a href="tel:{{phone}}">{{phone}}</a></p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- phone-box-wr -->
			{% endif %}

			{% if contacts.emails %}
			<!-- email-box-wr -->
			<div class="m-box-wr">
				<div class="m-photo-wr cont-ph-wr">
					<a href="mailto:{{contacts.emails.0}}">
						<div class="m-contacts-icon">
							<img src="{{baseUrl()}}/image/mobile/icon/envelope.svg">
						</div>
					</a>
				</div>
				<div class="m-box-info">
					<div class="m-box-inner">
						<div class="center-div">
							{% for email in contacts.emails %}
							<p><a href="mailto:{{email}}">{{email}}</a></p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- email-box-wr -->
			{% endif %}

			{% if contacts.address %}
			<!-- location-box-wr -->
			<div class="m-box-wr">
				<div class="m-photo-wr cont-ph-wr">
					<a href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9E%D0%BB%D0%B5%D0%B3%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0,+36,+%D0%9A%D0%B8%D1%97%D0%B2/@50.465938,30.5018042,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4ce6c371a3817:0x91a64d5aff2ddd82!8m2!3d50.465938!4d30.5039929?hl=ru">
						<div class="m-contacts-icon">
							<img src="{{baseUrl()}}/image/mobile/icon/home.svg">
						</div>
					</a>
				</div>
				<div class="m-box-info">
					<div class="m-box-inner">
						<div class="center-div">
							{% for address in contacts.address %}
							<p>{{address}}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- location-box-wr -->
			{% endif %}

			<!-- social-box-wr -->
			<div class="m-box-wr">
				<div class="m-social-wr">
					{% if social.twitter %}
					<a href="{{social.twitter}}">
						<div class="m-icon-section">
							<i class="fa fa-twitter"></i>
						</div>
					</a>
					{% endif %}
					{% if social.pinterest %}
					<a href="{{social.pinterest}}">
						<div class="m-icon-section">
							<i class="fa fa-pinterest-p"></i>
						</div>
					</a>
					{% endif %}
					{% if social.facebook %}
					<a href="{{social.facebook}}">
						<div class="m-icon-section">
							<i class="fa fa-facebook"></i>
						</div>
					</a>
					{% endif %}
					{% if social.gp %}
					<a href="{{social.gp}}">
						<div class="m-icon-section">
							<i class="fa fa-google-plus"></i>
						</div>
					</a>
					{% endif %}
					{% if social.vk %}
					<a href="{{social.vk}}">
						<div class="m-icon-section">
							<i class="fa fa-vk"></i>
						</div>
					</a>
					{% endif %}
				</div>
			</div>
			<!-- social-box-wr -->
		</div>
		<!-- end contacts-wrapper -->
	</section>


	<script src="{{baseUrl()}}/javascript/jquery.min.js"></script>
	<script src="{{baseUrl()}}/javascript/mobile.js"></script>
	<script src="{{baseUrl()}}/mbxslider/jquery.bxslider.js"></script>
</body>
</html>