<!-- modal window SERVICES -->
<div class="mobile-modal services-modal" id="servicesModal-{{loop.index}}">
	<!-- modal content -->
	<section class="mobile-wrapper">

		<!-- header menu - - - - - - - -->
		<nav class="m-menu">
			<div class="m-back">
				<img src="image/mobile/back.svg" class="back-btn">
			</div>
			<div class="menu-img">
				<img src="image/mobile/menu.png" class="menu-open">
				<img src="image/mobile/close.png" class="menu-close m-hidden">
			</div>
			<ul class="m-nav">
				<li class="m-li"><a href="index.html">Портфолио</a></li>
				<li class="m-li"><a href="index.html">О Нас</a></li>
				<li class="m-li active-li"><a href="index.html">Услуги</a></li>
				<li class="m-li"><a href="index.html">Контакты</a></li>
			</ul>
		</nav>
		<!-- end header menu - - - - - - - -->

		<div class="m-description-field">
			<div class="m-description-topic">
				<div class="m-services-icon m-description-icon">
					<img src="image/mobile/icon/{{service.slug}}.svg">
				</div>
				<div class="m-description-info">
					<p class="m-services-name m-descr-name">{{service.name}}</p>
					<p class="m-services-price m-descr-price">{{service.price}} грн</p>
				</div>
			</div>
			<div class="m-services-img">
				<img src="{{baseUrl}}{{service.image}}">
			</div>
			<p class="m-services-text">{{service.description|raw}}</p>
		</div>

	</section>
	<!-- end modal content -->
</div>
<!-- end modal winow SERVICES -->