{% extends "admin.base.html.twig" %}

{% block content %}
				<!-- - - right side - - -->
				<div class="right-side">
					<!-- FORM-FORM -->
					<form id="portfolio_form" name="portfolio_form" method="POST" action="{{urlFor('admin_save_portfolio')}}">
						<input type="hidden" name="id" value="0" id="portfolio_id">
						<!-- projects -->
						<section class="projects">
							<div class="topic-wrapper">
								<span class="topic">Проекты</span>
								<div class="button-submit">
									<label for="submit_btn">
										<input type="submit" id="submit_btn" value="Сохранить Изменения">
									</label>
								</div>
							</div>
							<div class="projects-wrapper main-border">
								<div class="project-inner inner-border">
									<div class="wr">
										{% for project in projects %}
										<div class="project-block-wrapper">
											<div class="project-block" data-token="{{project.token}}">
												<img src="{% if project.images %}{{project.images.0}}{% else %}data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=={% endif %}" alt="photo">
												<div class="project-block-hover">
													<div class="project-block-icon"></div>
												</div>
											</div>
										</div>
										{% endfor %}
										<div class="add-project-block new-project"></div>
									</div>
								</div>
							</div>
						</section>
						<!-- end projects -->

						<!-- project-description -->
						<section class="project-about hidden">
							<div class="topic-wrapper">
								<span class="topic">О проекте</span>
							</div>
							<div class="project-description-wrapper">
								<div class="project-description">
									<div class="project-info">
										<label for="project_name" class="begin"><span>Название:</span></label>
										<div class="other-text">
											<input type="text" id="project_name" placeholder="" name="name" form="portfolio_form">
										</div>
									</div>
									<div class="project-info">
										<label for="price" class="begin"><span>Цена:</span></label>
										<div class="other-text">
											<input type="text" id="price" placeholder="" name="price" form="portfolio_form">
										</div>
									</div>
									<div class="project-info">
										<label for="address" class="begin"><span>Адрес:</span></label>
										<div class="other-text">
											<input type="text" id="address" placeholder="" name="address" form="portfolio_form">
										</div>
									</div>
									<div class="project-info">
										<label for="head" class="begin"><span>Рук. проекта:</span></label>
										<div class="other-text">
											<input type="text" id="head" placeholder="" name="director" form="portfolio_form">
										</div>
									</div>
								</div>
								<!-- PROJECT SLIDER PHOTOES -->
								<div class="project-slider-photoes">
									<!--first slider block, do not remove! Or javascript will stacked -->
									<div class="slider-box hidden">
										<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="photo">
										<div class="slider-box-hover" data-url="{{urlFor('admin_rm_portfolio_photo')}}">
											<div class="box-hover-icon"></div>
										</div>
									</div>
									<!-- add slides to project-slider -->
									<label for="slider_add_photo">
										<div class="slider-add-box"></div>
										<input type="file" id="slider_add_photo" class="input-hidden" data-action="{{urlFor('admin_add_portfolio_photo')}}">
									</label>
									<!-- add slides to project-slider -->

									<div class="buttons-wrapper">
										<input type="submit" value="Сохранить проект" form="portfolio_form">
										<input id="remove_project" type="button" value="Удалить проект" form="portfolio_form" data-url="{{urlFor('admin_rm_portfolio')}}">
									</div>
								</div>
								<!-- PROJECT SLIDER PHOTOES -->
							</div>
						</section>
						<!-- end project-description -->
					</form>
					<!-- END FORM-FORM -->
				</div>
				<!-- - - right side - - -->
				<!-- MODAL -->
				<div id="adminModal" class="admin-modal hidden">
					<!-- modal content -->
					<div class="admin-modal-wrapper">
						<div class="admin-modal-content">
							<p>Удалить фото?</p>
							<div class="img-delete">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Photo to remove">
							</div>
							<div class="confirm-wrapper">
								<input type="button" id="yesBtn" value="Да">
								<input type="button" id="noBtn" value="Нет">
							</div>
						</div>
					</div>
					<!-- modal content -->
				</div>
				<!-- END MODAL -->
			</section>

{% endblock %}

